DB_NAME=agora
DB_USER=agora
DB_PASS=agora
DB_PORT=5432

BACKEND_PORT=8080

ZABBIX_SERVER_IP=CHANGE_ME
ZABBIX_HOSTNAME=agora-app
ZABBIX_AGENT_PORT=10050

# dev pour démarrage local via Docker
SPRING_PROFILES_ACTIVE=dev